.text
{
    z-index:100;
    position:absolute;    
    color:black;
    font-size:1.2em;
    font-weight:regular;
    left:650px;
    top:60px;
    width:60%;
}
.text1
{
    z-index:100;
    position:absolute;    
    color:black;
    font-size:1.2em;
    font-weight:regular;
    left:70px;
    top:680px;
    width:40%;
} 
.text2
{
	font-family: Lucida Calligraphy;
    z-index:100;
    position:absolute;    
    color:#E8D8C4;
    font-size:1.1em;
    font-weight:regular;
    left:760px;
    top:770px;
    width:30%;
} 
.text02 
{

font-family: Arial;
    z-index:100;
    position:absolute;    
    color:Black;
    font-size:1.2em;
    font-weight:regular;
    left:760px;
    top:680px;
    width:35%;
}

.text3 
{
    z-index:100;
    position:absolute;    
    color:black;
    font-size:1.2em;
    font-weight:regular;
    left:100px;
    top:1460px;
    width:40%;
}
.img0
{
 
  position: absolute; 
  left: 70px;
  top: 70px;
  width: 60%;

}
.img 
{
    position:absolute;    
    left:480px;
    top:1560px;
    width:40%;
}
.img1
{
    position:absolute;    
    left:690px;
    top:1560px;
    width:40%;
}
.img2
{
    position:absolute;    
    left:900px;
    top:1560px;
    width:40%;
}
.img3
{
    position:absolute;    
    left:1110px;
    top:1560px;
    width:40%;
}
.img4
{
    position:absolute;    
    left:1320px;
    top:1560px;
    width:40%;
}
.img5
{
    position:absolute;    
    left:480px;
    top:1780px;
    width:40%;
}
.img6
{
    position:absolute;    
    left:690px;
    top:1780px;
    width:40%;
}
.img7
{
    position:absolute;    
    left:900px;
    top:1780px;
    width:40%;
}
.img8
{
    position:absolute;    
    left:1110px;
    top:1780px;
    width:40%;
}
.img9
{
    position:absolute;    
    left:1320px;
    top:1780px;
    width:40%;
}
.img10
{

	position:absolute;    
    left:730px;
    top:780px;
    width:100%;
}


p{
	font-family:Times New Roman;
}
